.gap {
  gap: 1em;
  border: 1px solid transparent;
  padding: 8%;
  background-color: "white";
}

.textColor{
    color:#222
}

.backgorund {
  background-image: url('../../../src/logos/background-scen.svg');
  background-repeat: no-repeat;
  background-position: top center;
  max-height: 35vh;
}

.headingColor {
  color: #222;
   font-family: 'Luminari, fantasy', cursive;
  font-style: italic;
}
