.card-uniform {
  min-width: 220px;
  max-width: 280px;
  width: 100%;
  min-height: 420px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
}
.card-img-uniform {
  object-fit: contain;
  height: 120px;
  width: 100%;
}


@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 5px 0 rgba(240, 175, 175, 0.4), 0 0 15px 5px #f1919e;
    border-color: #e1e5e9;
  }
  50% {
    box-shadow: 0 0 15px 3px rgba(240, 175, 175, 0.4), 0 0 25px 10px #f1919e;
    border-color: #a38c97;
  }
  100% {
    box-shadow: 0 0 5px 0 rgba(240, 175, 175, 0.4), 0 0 15px 5px #f1919e;
    border-color: #e1e5e9;
  }
}

.card-animated-border {
  position: relative;
  border: 3px solid #6495ed;
  border-radius: 16px;
  transition: border-color 0.4s ease;
  animation: pulseGlow 4s ease-in-out infinite;
  background: white;
  box-shadow:
    0 4px 15px rgba(100, 149, 237, 0.3);
  overflow: hidden;
  cursor: pointer;
}

.card-animated-border:hover {
  animation-play-state: paused;
  border-color: #7b68ee; /* Medium Slate Blue */
  box-shadow:
    0 8px 25px rgba(123, 104, 238, 0.5),
    0 0 30px 5px rgba(123, 104, 238, 0.2);
  transform: scale(1.05) rotateX(5deg) rotateY(5deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  z-index: 10;
}



