.swiper-pagination-bullet {
  background: #fff !important;
  border: 1px solid #ccc;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #555 !important;
}
.carousel-container {
  max-width: 600px;
  margin: 0 auto;
}

.swiper-slide {
  width: 100% !important;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
